*/{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*impostazioni del header*/
header{
    text-align: center;
    margin: 1% 12% ;
}

 header h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: bold;
    color: palevioletred;
}

/*impostazioni del main*/

main{
    color: white;
    margin: 0% 12%;
}

.member{
    margin: 20px 10px;
    width: calc(88% / 3);
    background-color: black;
    display: inline-block;
}

.foto{
    float: left;
    width: 90px;
    
}
h3{
    margin: 10px 0;
}
.testo{
    display: block;
    margin-left: 100px;
    margin-bottom: 10px;
    line-height: 20px;

}

.profession, .name{
    display: block;
}

a{
    color: rgb(0, 204, 255);
}