*/{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*impostazioni del header*/
header{
    text-align: center;
    margin: 1% 12% ;
}

header>h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: bold;
    color: palevioletred;
}

/*impostazioni generali del main*/

main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 100%;
    height: 100%;
    margin-left: 10%;
 
    
}

/*section of every member */
.member{
    margin: 10px 20px;
    width: calc((100% / 3) - 136px);
    background-color: black;
    display: inline-block;
}


/*foto*/
.foto{
    float: left;
    width: 90px;
}


/*impostazioni del testo riguardante ogni membro */
.testo{
    display: block;
    margin: 0px 10px 10px 100px;
    line-height: 20px;
}

h3{
    margin: 10px 0;
}

.profession, .name{
    display: block;
}

a{
    color: rgb(0, 204, 255);
}